In [1]:
print("Twinkle, twinkel, little star, \n \t How I wonder what you are! \n \t \t Up above the world so high, \n \t \t Like a diamond in the sky. \nTwinkle, twinkel, little star, \n \t How I wonder what you are! ")

Twinkle, twinkel, little star,
 	 How I wonder what you are!
 	 	 Up above the world so high,
 	 	 Like a diamond in the sky.
Twinkle, twinkel, little star,
 	 How I wonder what you are!

In [2]:
import sys
print("system version")
print(sys.version)

system version
3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [3]:
import datetime
a=datetime.datetime.now()
print(str(a))

2019-11-13 10:45:27.953770

In [5]:
r = int(input("ENTER RADIUS"))
pi = 3.142
area = pi * (r**2)
print("AREA: ",area)

ENTER RADIUS45
AREA:  6362.55

In [1]:
first_name = "HAMZA"
last_name = "FAROOQ"
name = last_name + " " + first_name
print(name)

FAROOQ HAMZA

In [7]:
x = int(input("ENTER ANY NUMBER "))
y = int(input("ENTER ANOTHER NUMBER "))
addition = x + y
print("ADDITION: ",addition)

ENTER ANY NUMBER 45
ENTER ANOTHER NUMBER 65
ADDITION:  110